<h1>New Post</h1>
<h2>Save the URL you will be given, it will be used to edit/delete your post</h2>
<p id="notice"><%= notice %></p>
<div class="form">
<%= render 'form' %>
</div>
<br>
<%= link_to 'Back', posts_path %>
